<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <label for="">Name:</label>
    <input type="text" formControlName="name" placeholder="Name">
    <br>
    <label for="">Title:</label>
    <input type="text" formControlName="title" placeholder="Title">
    <br>
    <label for="">Comments:</label>
    <textarea formControlName="comments" placeholder="Your comments in here"></textarea>
    <br>
    <label for="">Archive:</label>
    <input type="file" formControlName="archive">
    <br>
    <button type="button" (click)="onCancel()">Cancel</button>
    <button type="submit" [disabled]="uploadForm.invalid">Submit</button>
</form>
